.landing-container {
  height: 100dvh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1503376780353-7e6692767b70")
    no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.overlay h1 {
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.role-btn {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ff7a00;
  color: white;
  transition: 0.3s;
}

.role-btn:hover {
  background-color: #e66a00;
}